:root{
  /* Palette : https://coolors.co/palette/d8f3dc-b7e4c7-95d5b2-74c69d-52b788-40916c-2d6a4f-1b4332-081c15 */
  --background-app: #B7E4C7;
  --layers-background: #74C69D;
  --text-color: #081C15;
  --buttons-normal: #52B788;
  --buttons-hover: #40916C;
  --button-clicked: #1B4332

}